/* Debian language css file for spanish - es */
/* please do not touch for now! - Jutta Wrage 2005 */

/* quotes ok */
html[lang=es] q:before { content: "\00AB"; }
html[lang=es] q:after { content: "\00BB"; }
html[lang=es] q q:before { content: "\0022"; }
html[lang=es] q q:after { content: "\0022"; }
html[lang=es] q q q:before { content: "\0027"; }
html[lang=es] q q q:after { content: "\0027"; }

html[lang=es] blockquote.quote p:first-child:before { content: "\00AB"; }
html[lang=es] blockquote.quote p:after { content: ""; }
html[lang=es] blockquote.quote p.last:after { content: "\00BB"; }

/* html[lang=es] .es2 q:before { content: "\201C"; }
html[lang=es] .es2 q:after { content: "\201D"; }
html[lang=es] .es2 q q:before { content: "\2018"; }
html[lang=es] .es2 q q:after { content: "\2019"; } */
